* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  --field-label: DarkGreen;
  --field-input: DarkGreen;
  --field-valid: RoyalBlue;
  --field-invalid: FireBrick;
  --button-background: SeaGreen;
  --button-hover: #04aa6d;
}

/*************************************/

body {
  font-family: Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  height: 100vh;
}

.main {
  height: 100vh;
  width: 100%;

  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);

  --color-with-theme: #009688;
}

/*************************************/

.header {
  grid-column: 1 / -1;
  grid-row: 1 / 2;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  
  background-color: var(--color-with-theme);
  color: white;
}

/*************************************/

.content {
  grid-column: 1 / -1;
  grid-row: 2 / -1;

  display: grid;
  grid-template-columns: repeat(22, 1fr);
  grid-template-rows: repeat(15, 1fr);

  justify-content: center;
  align-items: center;
  
  background-color: #fff;
}

/******Input page********/

.modeTitle {
  grid-column: 6 / -6;
  grid-row: 1 / 3;
  
  display: flex;
  flex-direction: row;
  
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

.modeBtnGroup {
  grid-column: 6 / -6;
  grid-row: 3 / 6;
  
  display: flex;
  flex-direction: row;
  
  justify-content: space-evenly;
  align-items: center;
}

.modeBtn {
  width: 250px;

  padding: 8px;
  font-size: 1.5rem;
  border-radius: 5px;
  cursor: pointer;
}

.modeBtn:hover {
  background-color: #e7e7e7;
  box-shadow: inset 0 0 0 2px var(--field-input);
}

.modeBtn.clicked {
  background-color: black;
  color: white;
}

.modePlayerInput {
  grid-column: 3 / -3;
  grid-row: 6 / -1;
  
  display: flex;
  flex-direction: row;
  
  justify-content: center;
  align-items: center;

  border-radius: 10px;
  border-width: 10px;
  border-color: transparent;
  border-style: solid;
}

/*******************/

.playerNameRegion {
  display: flex;
  flex-direction: row;

  justify-content: space-evenly;
  align-items: center;
}

.playerName {
  display: flex;
  flex-direction: column;

  width: 50%;
  justify-content: center;
  align-items: center;
}

.playerButtomRegion {
  display: flex;
  flex-direction: row;

  justify-content: space-evenly;
  align-items: center;
}

.playerButtomRegion button {
  width: 150px;
  background-color: var(--button-background);
  border: none;
  border-radius: 5px;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  cursor: pointer;
}

.playerButtomRegion button:hover{
  background-color: var(--button-hover);
}

form {
  display: flex;
  flex-direction: column;

  width: 80%;
  border-radius: 10px;
  background-color: var(--form-background);

  padding: 10px 20px 20px 20px;
  border: 5px solid var(--form-border);
  margin: 20px;
  gap: 30px;
}

form label {
  color: var(--field-label);
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 5px;
}

form input {
  height: 2rem;
  width: 90%;

  padding: 5px 5px;
  border: 2px solid var(--field-input);
  border-radius: 5px;
  font-size: 20px;
  text-align: center;
}

form input.validField {
  border: 4px solid var(--field-valid);
}

form input.invalidField {
  border: 4px solid var(--field-invalid);
}

form input:focus {
  box-shadow: inset 0 0 0 1px var(--field-input);
}

form input:disabled {
  border: 2px solid var(--field-input);
}

form span {
  height: 30px;
  width: 100%;

  padding: 5px 5px 0px 5px;
  font-size: 18px;
  text-align: center;
}

form span.validMsg {
  color: var(--field-valid);
}

form span.invalidMsg {
  color: var(--field-invalid);
}


/*******Battle Page**********/

.messageRegion {
  grid-column: 1 / 23;
  grid-row: 1 / 4;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 10px;
}

.messageRegion .turnIndicator {
  text-align: center;
  font-size: 2rem;
}

.messageRegion .turnMsg {
  text-align: center;
  font-size: 1.5rem;
}

/*************************/

.objectRegion {
  grid-column: 10 / 14;
  grid-row: 4 / -1;

  display: flex;
  justify-content: center;
  align-items: center;
}

#leftRegion {
  grid-column: 2 / 10;
  grid-row: 4 / 15;
}

#rightRegion {
  grid-column: 14 / 22;
  grid-row: 4 / 15;
}

/*************************/

.gameRegion {
  height: 100%;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  gap: 40px;
}

.regionTitle {
  text-align: center;
  font-size: 2rem;
}

.regionGrid {
  width: min(50vw, 50vh);
  height: min(50vw, 50vh);
  max-width: 500px;
  max-height: 500px;

  display: grid;
  
}

.gridCell {
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  transition-duration: 0.5s;
  cursor: crosshair;
  background-color: CornflowerBlue;
}

.gridCell:hover {
  background-color: ForestGreen;
}

.gridCell.missCell,
.gridCell.hitCell {
  cursor: not-allowed;
}

.gridCell.missCell:hover,
.gridCell.hitCell:hover {
  background-color: IndianRed;
}

/* Draw a circle */
.attackDot {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 1px solid black;
}

.attackDot.hitDot {
  background-color: red;
}

.attackDot.missDot {
  background-color: white;
}