* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*************************************/

body {
  font-family: Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  height: 100vh;
}

.main {
  height: 100vh;
  width: 100%;

  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);

  --color-with-theme: #009688;
}

/*************************************/

.header {
  grid-column: 1 / -1;
  grid-row: 1 / 2;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  
  background-color: var(--color-with-theme);
  color: white;
}

/*************************************/

.content {
  grid-column: 1 / -1;
  grid-row: 2 / -1;

  display: grid;
  grid-template-columns: repeat(22, 1fr);
  grid-template-rows: repeat(15, 1fr);

  justify-content: center;
  align-items: center;
  
  background-color: #fff;
}

/*************************/

.messageRegion {
  grid-column: 1 / 23;
  grid-row: 1 / 3;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.objectRegion {
  grid-column: 10 / 14;
  grid-row: 3 / -1;

  display: flex;
  justify-content: center;
  align-items: center;
}

#leftRegion {
  grid-column: 2 / 10;
  grid-row: 3 / 14;
}

#rightRegion {
  grid-column: 14 / 22;
  grid-row: 3 / 14;
}

.gameRegion {
  height: 100%;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  gap: 40px;
}

.regionTitle {
  text-align: center;
  font-size: 2rem;
}

.regionGrid {
  width: min(50vw, 50vh);
  height: min(50vw, 50vh);
  max-width: 500px;
  max-height: 500px;

  display: grid;

}

.regionGrid button {
  height: 100%;
  width: 100%;
}